# Dépendances principales
torch
pytorch_lightning
transformers
accelerate
# polars>=1.26.0



# Outils de développement
pytest
pytest-cov
black
flake8
isort
mypy
mkdocs
mkdocstrings[python]
mkdocs-material

# Documentation


# Utilitaires
pandas
bio